@import 'variables';

.contact{
    background-color: $lightModeBackgroundAlt;
    padding: 5rem 0;

    &__sayhi{
        padding-bottom: 2.5rem;
        .heading{
            font-size: 2.75rem;
            
            .link{
                text-transform: lowercase;
                font-size: 2.75rem;
            }
        }
    
        .heading:last-child{
            margin-top: 2rem;
        }
    }

    &__information{
        .paragraph, .mainTitle{
            padding: 0;
        }
        .heading:first-child{
            padding-bottom: 1rem;
            color: $lightModeTextAlt;

        }

        .paragraph{
            color: $lightModeTextAlt;
        }

        .heading:last-child{
            font-size: 2.75rem;
            font-weight: weight(bold);
            text-decoration: none;
            color: $darkModeBackgroundAlt;
            &:hover{
                color: $accentColor1;
            }
        }

        .nav{
            padding: 2rem 0;
            &__list{
                .nav__item{
                    margin-top: 1rem;
                    font-size: 1.75rem;

                    &:hover{
                        color: $accentColor1;
                    }
                }
            }
        }

    }

    .socials{
        padding: 2rem 0 0 0;
        @include flexdiv(row, flex-start, center, 1.25rem);
        a{
            display: block;
            color: $lightModeTextAlt;
            &:hover{
                color: $accentColor1;
            }
        }
        .icon{
            font-size: 2.5rem;
        }
    }
}