@import 'variables';

.footer{
    background-color: $lightModeBackgroundAlt;
    .container{
        @include flexdiv(row, flex-start, center, 2rem);

        .paragraph{
            padding: 0;

            span{
                font-weight: weight(bold);
            }
        }

        small{
            font-size: 1.25rem;
        }
    }
}