@import 'variables';
@import 'flexContainers';

.header--wrapper{
    background-color: $darkModeBackgroundAlt;
    .header{
        @include flexdiv(row, space-between, center);
        padding: 3rem 0;
        color: $darkModeText;
        font-family: 'Source Sans Pro', sans-serif;
        .logo{
            font-size: 2.5rem;
            span{
                font-weight: weight('bold');
            }
        }
        .nav--wrapper{
            &__container{
                @include flexdiv;
                .nav{
                    margin-right: auto;
                    font-size: 1.5rem;
                    &__list{
                        @include flexdiv();
                        margin: 0;
                        padding: 0;
                    }
            
                    &__item{
                        list-style: none;
                        text-transform: capitalize;
                        font-size: 1.5rem;
                        &:hover{
                            color: $accentColor1;
                        }
                    }
                }

                .socials{
                    font-size: 1.25rem;
                    @include flexdiv(row, center, center);
                    color: $darkModeTextAlt;
        
                    div{
                        @include flexdiv(row, center, center);
                    }
                    .socials__icon{
                        font-size: 1.25rem;
                        color: $darkModeText;
                        &:hover{
                            color: $accentColor1;
                        }
                    }
        
                    .socials__mail{
                        font-size: 1.75rem;
                        color: $darkModeText;
                        &:hover{
                            color: $accentColor1;
                        }
                    }
                    .socials__icon--mail{
                        width: 4rem;
                        height: 4rem;
                        background-color: $darkModeBackground;
                        border-radius: 50%;
                        margin-left: 2.75rem;
                    }
                }
            }
        }
    
        

        .closeNav{
            display: none;
        }


        &__nav--hamburger{
            font-size: 2.5rem;
            display: none;
        }
    
        
    }
    
}