@import 'styles';
@import 'variables';

.hero{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: 5rem 0;
    text-align: center;
    background-color: $lightModeBackgroundAlt;

    .paragraph{
        padding: 2rem 0;
    }

    .hero__image{
        margin: 4rem 0;
    }

    .link{
        font-size: 2rem;
    }

    .btn{
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}