@import 'config';

@include media-sm{
    .hero{
        padding-top: 10rem;
    }

    .header{
        .container{
            .mobile__toggleTheme{
                display: flex !important;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
            }

            .nav{
                display: none;
            }

            .socials{
                display: none;
            }

            .icon.menu{
                display: block;
            }
        }
    }
}

@include media-md{
    .hero{
        padding-top: 10rem;
    }

    .header{
        .container{
            .mobile__toggleTheme{
                display: flex !important;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
            }

            .nav{
                display: none;
            }

            .socials{
                display: none;
            }

            .icon.menu{
                display: block;
            }
        }
    }
}


@include media-lg{

    .header{
        .container{
            .mobile__toggleTheme{
                display: none !important;
            }

            .nav{
                display: block;
                &__list{
                    @include flexdiv(row, flex-start, center, 2rem);
    
                    li{
                        font-size: 1.75rem;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: weight(bold);
    
                        &:hover{
                            color: $accentColor1;
                        }
                    }
                }
            }
            .socials{
                @include flexdiv(row, flex-start, center, 2rem);
            }
    
            .socials__item{
                @include flexdiv(row, flex-start, center, 1rem);
                font-size: 1.125rem;
                font-family: 'Source Sans Pro', sans-serif;
            }
    
            .socials__item:nth-child(3){
                background-color: $lightModeBackgroundAlt;
                padding: 1rem;
                border-radius: 50%;
    
                .icon{
                    color: $accentColor1;
                }
            }
    
            .socials__item:last-child{
                border-left: solid 2px $accentColor1;
                padding-left: 1.5rem;
                margin-left: 2.5rem;
                
                .icon{
                    font-size: 2rem;
                }
            }
    
            .icon{
                font-size: 1.25rem;
            }
    
            .icon.menu{
                display: none;
            }
        }
    }


    .hero{
        position: relative;
        text-align: left;
        display: grid;
        place-items: center;
        .container{
            @include flexdiv(row, space-between, flex-start);

            .hero__text, .hero__image{
                width: 50%
            }

            .hero__text{
                padding-left: 10rem;
            }

            .hero__image{
                position: absolute;
                bottom: 0;
                right: -10rem;
            }
        }
    }

    .aboutMe{
        display: grid;
        place-items: center;
        .container{
            @include flexdiv(row-reverse, space-between);

            .aboutMe__item{
                width: 47.5%;

            }

            .aboutMe__item:last-child{
                padding: 0;

                @include flexdiv(column, stretch, stretch, 4rem);
            }
        }
    }

    .projects{
        .projects__works{
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }
    }

    .contact{
        .container{
            @include flexdiv(row, space-between);

            .contact__sayhi{
                width: 35%;
            }
        }
    }
}