*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
