$lightModeText: #000000;
$lightModeBackground: #ffffff;
$lightModeBackgroundAlt: #eeeeee;
$lightModeTextAlt: #3f3f3f;
$darkModeText: #ffffff;
$darkModeBackground: #0f0f14 ;
$darkModeBackgroundAlt:#1d1e22;
$darkModeTextAlt:   #cccccc ;
$accentColor1: #582ca8;
// $accentColor1: #335dff;
// $accentColor1: #fffd00;
// $accentColor1: #b32020;

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 600,
    'bolder': 400,
);

@function weight($weight-name){
    @return map-get($map: $font-weights, $key: $weight-name)
}