$lightModeText: #000000;
$lightModeBackground: #ffffff;
$lightModeTextAlt: #0C090A;
$darkModeText: #ffffff;
$darkModeBackground: #141416 ;
$darkModeBackgroundAlt:#1d1d1d;
$darkModeTextAlt:   #acacac ;
$accentColor1: #582ca8;
// $accentColor1: #335dff;
// $accentColor1: #fffd00;
// $accentColor1: #b32020;

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 600,
    'bolder': 400,
);

@function weight($weight-name){
    @return map-get($map: $font-weights, $key: $weight-name)
}

