*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

.mainTitle {
  font-size: clamp(3rem, 3vw, 5.5rem);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  padding: 2rem 0;
}

.subTitle {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 600;
  font-style: italic;
}

.heading {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.paragraph {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  padding: 2rem 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 400;
}

.link {
  font-size: 1.75rem;
  text-decoration: underline;
  color: #582ca8;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.btn {
  border: none;
  background-color: #582ca8;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.75em 1.25em;
  border-radius: 0.25em;
  margin-bottom: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}

.header.sticky {
  position: fixed;
  z-index: 2;
}

.navLink {
  text-decoration: none;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.navLink:hover {
  color: #582ca8;
}

.project--link {
  text-decoration: none;
}

@-webkit-keyframes scaleCard {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleCard {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.mainTitle {
  font-size: clamp(3rem, 3vw, 5.5rem);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  padding: 2rem 0;
}

.subTitle {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 600;
  font-style: italic;
}

.heading {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.paragraph {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  padding: 2rem 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 400;
}

.link {
  font-size: 1.75rem;
  text-decoration: underline;
  color: #582ca8;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.btn {
  border: none;
  background-color: #582ca8;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.75em 1.25em;
  border-radius: 0.25em;
  margin-bottom: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}

.header.sticky {
  position: fixed;
  z-index: 2;
}

.navLink {
  text-decoration: none;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.navLink:hover {
  color: #582ca8;
}

.project--link {
  text-decoration: none;
}

@keyframes scaleCard {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 5rem 0;
  text-align: center;
  background-color: #E9EAED;
}
.hero .paragraph {
  width: 70%;
  margin: auto;
  padding: 2rem 0;
}
.hero .hero__image {
  margin: 4rem 0;
}
.hero .link {
  font-size: clamp(1.7rem, 2vw, 2rem);
  color: #ffffff;
  text-decoration: none;
  background-color: #582ca8;
  padding: 0.5em 1.2rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.hero .link:hover {
  background-color: #ffffff;
  color: #582ca8 !important;
}

@media screen and (max-width: 600px) {
  .hero {
    padding-top: 10rem;
  }
  .header .container .mobile__toggleTheme {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .header .container .nav {
    display: none;
  }
  .header .container .socials {
    display: none;
  }
  .header .container .icon.menu {
    display: block;
  }
}
@media screen and (min-width: 605px) {
  .hero {
    padding-top: 10rem;
  }
  .header .container .mobile__toggleTheme {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .header .container .nav {
    display: none;
  }
  .header .container .socials {
    display: none;
  }
  .header .container .icon.menu {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .header .container .mobile__toggleTheme {
    display: none !important;
  }
  .header .container .nav {
    display: block;
  }
  .header .container .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .header .container .nav__list li {
    font-size: 1.75rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
  }
  .header .container .nav__list li:hover {
    color: #582ca8;
  }
  .header .container .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .header .container .socials__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.125rem;
    font-family: "Source Sans Pro", sans-serif;
  }
  .header .container .socials__item:nth-child(3) {
    background-color: #E9EAED;
    padding: 1rem;
    border-radius: 50%;
  }
  .header .container .socials__item:nth-child(3) .icon {
    color: #582ca8;
  }
  .header .container .socials__item:last-child {
    border-left: solid 2px #582ca8;
    padding-left: 1.5rem;
    margin-left: 2.5rem;
  }
  .header .container .socials__item:last-child .icon {
    font-size: 2rem;
  }
  .header .container .icon {
    font-size: 1.25rem;
  }
  .header .container .icon.menu {
    display: none;
  }
  .hero {
    text-align: left;
    display: grid;
    place-items: center;
  }
  .hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .hero .container .hero__text, .hero .container .hero__image {
    width: 50%;
  }
  .hero .container .hero__text {
    padding-left: 10rem;
  }
  .hero .container .hero__image {
    position: absolute;
    bottom: 0;
    right: -10rem;
  }
  .aboutMe .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .aboutMe .container .aboutMe__item {
    width: 47.5%;
  }
  .aboutMe .container .aboutMe__item:last-child {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 4rem;
  }
  .projects .projects__works {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .contact .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .contact .container .contact__sayhi {
    width: 35%;
  }
}
.mainTitle {
  font-size: clamp(3rem, 3vw, 5.5rem);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  padding: 2rem 0;
}

.subTitle {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 600;
  font-style: italic;
}

.heading {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.paragraph {
  font-size: clamp(1.4rem, 2vw, 1.75rem);
  color: #000000;
  padding: 2rem 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 400;
}

.link {
  font-size: 1.75rem;
  text-decoration: underline;
  color: #582ca8;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.btn {
  border: none;
  background-color: #582ca8;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.75em 1.25em;
  border-radius: 0.25em;
  margin-bottom: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}

.header.sticky {
  position: fixed;
  z-index: 2;
}

.navLink {
  text-decoration: none;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.navLink:hover {
  color: #582ca8;
}

.project--link {
  text-decoration: none;
}

@keyframes scaleCard {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.aboutMe {
  min-height: 100vh;
  padding: 5rem 0;
  display: grid;
  place-items: center;
}
.aboutMe .subTitle {
  padding-bottom: 2rem;
}
.aboutMe .paragraph {
  color: #3f3f3f;
  text-align: justify;
  padding: 0;
}
.aboutMe__item:last-child {
  padding: 5rem 0;
  width: 100%;
}
.aboutMe__item:last-child .skills--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  background-color: #E9EAED;
  margin: 2.5rem 0;
  padding: 2.5rem;
  border-radius: 0.5rem;
}
.aboutMe__item:last-child .skills--item__text .heading {
  color: #582ca8;
  font-size: 2.5rem;
}
.aboutMe__item:last-child .skills--item__text .paragraph {
  color: #3f3f3f;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
.aboutMe__item:last-child .skills--item__text .link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
}
.aboutMe__item:last-child .skills--item__text .link:hover {
  text-decoration: underline;
}
.aboutMe__item:last-child .skills--item__image {
  align-self: flex-start;
  color: #582ca8;
  font-size: 2rem;
}

.projects {
  padding: 4rem 0;
}
.projects .mainTitle {
  padding: 0;
  text-align: center;
}
.projects .paragraph {
  text-align: center;
}
.projects .link {
  text-align: center;
  display: block;
  padding: 4rem 0;
  font-size: 2.75rem;
}
.projects .projects__works {
  display: grid;
}
.projects .projects__works--item {
  background-color: #E9EAED;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}
.projects .projects__works--item:hover {
  transform: scale(0.95);
}
.projects .projects__works--item__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.projects .projects__works--item__text .heading {
  font-size: 2rem;
  font-weight: 600;
}
.projects .projects__works--item__text .langUsed button {
  border: none;
  background-color: #582ca8;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}
.projects .projects__works--item__text .langUsed button + button {
  margin-left: 1rem;
}
.projects .projects__works--item__image {
  margin-top: 2rem;
}
.projects .projects__works--item__image img {
  max-width: 100%;
}
.projects .projects__works--item .btn {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 0;
  text-decoration: none;
  background-color: #111111;
}
.projects .projects__works--item .btn:hover {
  background-color: #582ca8;
}

.contact {
  background-color: #E9EAED;
  padding: 5rem 0;
}
.contact__sayhi {
  padding-bottom: 2.5rem;
}
.contact__sayhi .heading {
  font-size: clamp(2rem, 3vw, 2.75rem);
}
.contact__sayhi .heading .link {
  text-transform: lowercase;
  font-size: clamp(2rem, 3vw, 2.75rem);
}
.contact__sayhi .heading:last-child {
  margin-top: 2rem;
}
.contact__information .paragraph, .contact__information .mainTitle {
  padding: 0;
}
.contact__information .heading:first-child {
  padding-bottom: 1rem;
  color: #3f3f3f;
}
.contact__information .paragraph {
  color: #3f3f3f;
}
.contact__information .heading:last-child {
  font-size: clamp(2rem, 3vw, 2.75rem);
  font-weight: 600;
  text-decoration: none;
  color: #111111;
}
.contact__information .heading:last-child:hover {
  color: #582ca8;
}
.contact__information .nav {
  padding: 2rem 0;
}
.contact__information .nav__list .nav__item {
  margin-top: 1rem;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}
.contact__information .nav__list .nav__item:hover {
  color: #582ca8;
}
.contact .socials {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.contact .socials a {
  display: block;
  color: #3f3f3f;
}
.contact .socials a:hover {
  color: #582ca8;
}
.contact .socials .icon {
  font-size: 2.5rem;
}

.nav__list .nav__item {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
}

.footer {
  background-color: #E9EAED;
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.footer .container .paragraph {
  padding: 0;
}
.footer .container .paragraph span {
  font-weight: 600;
  color: #582ca8;
}
.footer .container small {
  font-size: 1.25rem;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: #E9EAED;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 2rem 0;
}
.header .container .heading {
  font-size: 2.5rem;
}
.header .container .heading span {
  font-weight: 600;
  color: #582ca8;
}
.header .container .socials__item:hover {
  color: #582ca8;
}
.header .container .socials__item a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}
.header .container .socials__item a:hover {
  color: #582ca8;
  text-decoration: underline;
}
.header .container .socials__item:nth-child(3) {
  background-color: #ffffff;
}
.header .container .socials__item:nth-child(3) .icon {
  color: #000000;
}
.header .container .socials__item:nth-child(3) .icon:hover {
  color: #582ca8;
}
.header .container .mobile__toggleTheme {
  display: none;
}
.header .container .mobile__toggleTheme--icon {
  font-size: 1.5rem;
  color: #000000;
  padding-top: 0.5rem;
}
.header .container .mobile__toggleTheme .icon.menu {
  font-size: 2rem;
  color: #000000;
}
.header .container .mobile__view--nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  background-color: #111111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  transition: all 0.4s ease-in-out;
}
.header .container .mobile__view--nav .icon.close {
  font-size: 2.5rem;
  color: #ffffff;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.header .container .mobile__view--nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.header .container .mobile__view--nav ul li .navLink {
  color: #ffffff;
  font-size: 2rem;
  text-transform: capitalize;
}
.header .container .mobile__view--nav ul li .navLink:hover {
  color: #582ca8;
}
.header .container .mobile__view--nav ul:last-child .socials__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.75rem;
  color: #ffffff;
}
.header .container .mobile__view--nav ul:last-child .socials__item:hover {
  color: #582ca8;
}
.header .container .mobile__view--nav ul:last-child .socials__item:last-child {
  align-self: center;
  padding: 1.75rem;
  background-color: #0c0c0c;
  border-radius: 50%;
}
.header .container .mobile__view--nav ul:last-child .socials__item:last-child .icon {
  margin: 0;
  font-size: 1.75rem;
  color: #582ca8;
}

.header.dark {
  background-color: #111111;
}
.header.dark .container .heading {
  color: #ffffff;
}
.header.dark .container .mobile__toggleTheme--icon {
  color: #ffffff;
}
.header.dark .container .mobile__toggleTheme .icon.menu {
  color: #ffffff;
}
.header.dark .container .nav__list li .navLink {
  color: #ffffff;
}
.header.dark .container .nav__list li .navLink:hover {
  color: #582ca8;
}
.header.dark .container .socials__item {
  color: #ffffff;
}
.header.dark .container .socials__item a {
  color: inherit;
}
.header.dark .container .socials__item:hover {
  color: #582ca8;
}
.header.dark .container .icon.menu {
  color: #ffffff;
}

.hero.dark {
  background-color: #111111;
}
.hero.dark .mainTitle {
  color: #ffffff;
}
.hero.dark .paragraph {
  color: #cccccc;
}
.hero.dark .link:hover {
  color: #ffffff;
}

.aboutMe.dark {
  background-color: #0c0c0c;
}
.aboutMe.dark .subTitle, .aboutMe.dark .paragraph {
  color: #cccccc;
}
.aboutMe.dark .mainTitle {
  color: #ffffff;
}
.aboutMe.dark .aboutMe__item:last-child .skills--item {
  background-color: #111111;
}
.aboutMe.dark .aboutMe__item:last-child .skills--item__text .paragraph {
  color: #cccccc;
}
.aboutMe.dark .aboutMe__item:last-child .skills--item .link {
  color: #ffffff;
}

.projects.dark {
  background-color: #0c0c0c;
}
.projects.dark .mainTitle {
  color: #ffffff;
}
.projects.dark .paragraph {
  color: #cccccc;
}
.projects.dark .projects__works--item {
  background-color: #111111;
}
.projects.dark .projects__works--item__text .heading {
  color: #ffffff;
}
.projects.dark .projects__works--item .btn {
  background-color: #E9EAED;
  color: #000000;
}
.projects.dark .projects__works--item .btn:hover {
  background-color: #582ca8;
  color: #ffffff;
}

.contact.dark {
  background-color: #0c0c0c;
}
.contact.dark .contact__sayhi .heading {
  color: #ffffff;
}
.contact.dark .contact__information .heading:first-child {
  color: #cccccc;
}
.contact.dark .contact__information .paragraph {
  color: #cccccc;
}
.contact.dark .contact__information .heading:last-child {
  color: #ffffff;
}
.contact.dark .contact__information .heading:last-child:hover {
  color: #582ca8;
}
.contact.dark .contact__information .socials a {
  color: #cccccc;
}
.contact.dark .contact__information .socials a:hover {
  color: #582ca8;
}
.contact.dark .contact__information .nav__list .nav__item .navLink {
  color: #ffffff;
}
.contact.dark .contact__information .nav__list .nav__item .navLink:hover {
  color: #582ca8;
}

.footer.dark {
  background-color: #0c0c0c;
}
.footer.dark .paragraph {
  color: #ffffff;
}
.footer.dark .paragraph span {
  color: #582ca8;
}
.footer.dark small {
  color: #cccccc;
}

.App {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */