*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.header--wrapper {
  background-color: #1d1d1d;
}
.header--wrapper .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}
.header--wrapper .header .logo {
  font-size: 2.5rem;
}
.header--wrapper .header .logo span {
  font-weight: 600;
}
.header--wrapper .header .nav--wrapper__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header--wrapper .header .nav--wrapper__container .nav {
  margin-right: auto;
  font-size: 1.5rem;
}
.header--wrapper .header .nav--wrapper__container .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.header--wrapper .header .nav--wrapper__container .nav__item {
  list-style: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.header--wrapper .header .nav--wrapper__container .nav__item:hover {
  color: #582ca8;
}
.header--wrapper .header .nav--wrapper__container .socials {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #acacac;
}
.header--wrapper .header .nav--wrapper__container .socials div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header--wrapper .header .nav--wrapper__container .socials .socials__icon {
  font-size: 1.25rem;
  color: #ffffff;
}
.header--wrapper .header .nav--wrapper__container .socials .socials__icon:hover {
  color: #582ca8;
}
.header--wrapper .header .nav--wrapper__container .socials .socials__mail {
  font-size: 1.75rem;
  color: #ffffff;
}
.header--wrapper .header .nav--wrapper__container .socials .socials__mail:hover {
  color: #582ca8;
}
.header--wrapper .header .nav--wrapper__container .socials .socials__icon--mail {
  width: 4rem;
  height: 4rem;
  background-color: #141416;
  border-radius: 50%;
  margin-left: 2.75rem;
}
.header--wrapper .header .closeNav {
  display: none;
}
.header--wrapper .header__nav--hamburger {
  font-size: 2.5rem;
  display: none;
}

.hero--wrapper {
  background-color: #1d1d1d;
}
.hero--wrapper .hero {
  padding: 4rem 0;
}
.hero--wrapper .hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}
.hero--wrapper .hero__text--title {
  border: none;
  background-color: #582ca8;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  margin-bottom: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}
.hero--wrapper .hero__text--primary {
  font-size: 4rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}
.hero--wrapper .hero__text--secondary {
  font-size: 1.5rem;
  color: #acacac;
  margin-bottom: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}
.hero--wrapper .hero__text .hero__link {
  font-size: 1.75rem;
  text-decoration: underline;
  color: #582ca8;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.hero--wrapper .hero .hero__image {
  margin: 4rem 0;
}
.hero--wrapper .hero .hero__image img {
  max-width: 100%;
}

.work--wrapper {
  background-color: #141416;
}
.work--wrapper .work {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 4rem 0;
}
.work--wrapper .work__intro {
  text-align: center;
  margin: 4rem 0;
}
.work--wrapper .work__intro h6 {
  color: #acacac;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.work--wrapper .work__intro h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}
.work--wrapper .work__intro h4 {
  font-style: italic;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 2.5rem 0;
}
.work--wrapper .work__intro p {
  color: #acacac;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2.75rem;
  font-weight: 400;
}
.work--wrapper .work .work__skills {
  width: 100%;
}
.work--wrapper .work .work__skills--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #1d1d1d;
  margin: 2.5rem 0;
  padding: 2.5rem;
  border-radius: 0.5rem;
}
.work--wrapper .work .work__skills--item__text h4 {
  color: #582ca8;
  font-size: 2.5rem;
  font-weight: 600;
}
.work--wrapper .work .work__skills--item__text p {
  color: #acacac;
  margin-bottom: 2rem;
  font-family: "Source Sans Pro", sans-serif;
}
.work--wrapper .work .work__skills--item__text h6 {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}
.work--wrapper .work .work__skills--item__text h6:hover {
  text-decoration: underline;
}
.work--wrapper .work .work__skills--item__image {
  align-self: flex-start;
  color: #582ca8;
  font-size: 2.5rem;
}
.work--wrapper .latest__works {
  text-align: center;
  padding: 4rem 0;
}
.work--wrapper .latest__works h3 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 400;
}
.work--wrapper .latest__works p {
  color: #acacac;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}
.work--wrapper .latest__works a {
  font-size: 1.7rem;
  color: #582ca8;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.work--wrapper .latest__works--item {
  background-color: #1d1d1d;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
}
.work--wrapper .latest__works--item__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.work--wrapper .latest__works--item__text h4 {
  font-size: 2rem;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 400;
}
.work--wrapper .latest__works--item__text .langUsed button {
  border: none;
  background-color: #582ca8;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}
.work--wrapper .latest__works--item__text .langUsed button + button {
  margin-left: 1rem;
}
.work--wrapper .latest__works--item__image {
  margin-top: 2rem;
}
.work--wrapper .latest__works--item__image img {
  max-width: 100%;
}

.footer--wrapper {
  background-color: #141416;
}
.footer--wrapper .footer {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #ffffff;
}
.footer--wrapper .footer__item--primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.footer--wrapper .footer__item--primary h3 {
  font-size: 1.75rem;
  margin: 2rem 0;
  font-family: "IBM Plex Mono", monospace;
}
.footer--wrapper .footer__item--primary h3 span {
  color: #582ca8;
  text-decoration: underline;
}
.footer--wrapper .footer__item--primary .information {
  font-size: 1.5rem;
}
.footer--wrapper .footer__item--primary .information h6 {
  color: #acacac;
  margin-bottom: 1rem;
}
.footer--wrapper .footer__item--primary .information h5 {
  color: #acacac;
}
.footer--wrapper .footer__item--primary .information h4 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.75rem;
}
.footer--wrapper .footer__item--primary .nav {
  margin: 2rem 0;
}
.footer--wrapper .footer__item--primary .nav .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer--wrapper .footer__item--primary .nav .nav__list .nav__item:hover {
  color: #582ca8;
}
.footer--wrapper .footer__item--secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.footer--wrapper .footer__item--secondary .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.footer--wrapper .footer__item--secondary .logo .copyright {
  font-size: 1rem;
  color: #acacac;
}
.footer--wrapper .footer__item--secondary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .header--wrapper .header {
    overflow: hidden;
  }
  .header--wrapper .header .nav--wrapper {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .header--wrapper .header .nav--wrapper__container {
    transform: translateY(100%);
    transition: all 0.07s ease-out;
  }
  .header--wrapper .header .nav--wrapper .closeNav {
    display: block;
    position: absolute;
    left: 4.5rem;
    top: 3rem;
    font-size: 2.5rem;
  }
  .header--wrapper .header .nav--wrapper .closeNav:hover {
    color: #582ca8;
  }
  .header--wrapper .header .nav--wrapper .nav {
    margin-bottom: 2rem;
  }
  .header--wrapper .header .nav--wrapper .nav .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .header--wrapper .header .nav--wrapper .nav .nav__item {
    font-size: 1.75rem;
  }
  .header--wrapper .header .nav--wrapper .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .header--wrapper .header__nav--hamburger {
    display: block;
  }
  .header--wrapper .header__nav--hamburger:hover {
    color: #582ca8;
  }
}
@media screen and (min-width: 605px) {
  .hero--wrapper {
    height: 100vh;
  }
  .hero--wrapper .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .hero--wrapper .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 55%;
  }
  .hero--wrapper .hero__image {
    width: 45% img;
    width-width: 100%;
  }

  .work--wrapper .work {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
  }
  .work--wrapper .work__intro {
    min-width: 45%;
  }
  .work--wrapper .work__skills {
    min-width: 45%;
  }
  .work--wrapper .latest__works--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .footer--wrapper {
    padding-top: 4rem;
  }
  .footer--wrapper .footer__item--primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer--wrapper .footer__item--primary .sayhi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer--wrapper .footer__item--primary .sayhi h3 {
    margin: 0;
  }
  .footer--wrapper .footer__item--primary .information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer--wrapper .footer__item--primary .information .address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer--wrapper .footer__item--primary .information .nav {
    margin: 0 0 2rem 0;
  }
  .footer--wrapper .footer__item--primary .information .nav .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
}
.heading {
  font-family: "IBM Plex Mono", monospace;
}/*# sourceMappingURL=main.css.map */